html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.main__title {
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2em;
}

.content-item { 
  display: none;
}

.content-item.content-item__active { 
  display: inline-block;
}

/* Header Section */

.header {
  min-height: 100vh;
  position: relative;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 700;
}

.menu__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
}

.menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 100%;
}

/* Стили для кнопки в меню */
.menu__btn {
  color: white;
  background: #111;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 15px 58px;
  border: 2px solid #222;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.menu__btn:hover {
  background: #222;
  border-color: #333;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}

.menu__btn:active {
  transform: scale(0.95);
  background: #000;
}

.header__content-images {
  text-align: center;
  padding-bottom: 50px;
}

.header__content-images::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  width: 100%;
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

.title {
  font-weight: 700;
  font-size: 210px;
  position: absolute;
  padding-top: 110px;
}

.title--pod {
  position: relative;
  z-index: -1;
}

.title--s {
  display: inline-block;
  transform: translate(35px, 60px);
}

.title--m {
  display: inline-block;
  transform: translate(-10px, 275px);
}

.title--ax {
  display: inline-block;
  position: relative;
  transform: translate(-90px, 430px);
  z-index: -1;
}

/* Choose color section */

.choose-color {
  text-align: center;
  padding: 45px 0 120px;
}

.choose-color__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}

.choose-color__text {
  font-size: 18px;
  font-weight: 500;
  max-width: 600px;
  margin: 0 auto 80px;
  line-height: 1.4;

  white-space: nowrap;
}

.choose-color__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: nowrap;
  padding-top: 10px;
}

.choose-color__btn {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 8px;
  transition: all 0.3s ease;
  padding: 55px 55px;
}

.choose-color__btn--active { 
  display: none;
}

.choose-color__btn img {
  width: 150px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
}

.choose-color__btn:hover,
.choose-color__btn:focus {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-color: black;
}

/* Extremely section  */

.composition {
  margin-bottom: 180px;
}

.composition__title {
  margin-bottom: 30px;
}

.composition__text {
  text-align: center;
  max-width: 655px;
  margin: 0 auto 40px;
}

.composition__inner {
  max-width: 625px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.composition__inner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.composition__inner-text p {
  width: 230px;
}

/* Case Section */

.case {
  background: #fafafa;
  padding: 80px 0 100px;
  text-align: center;
}

.case__text {
  max-width: 825px;
  margin: 0 auto 50px;
}

.energy__title {
  padding-top: 160px;
  margin-bottom: 40px;
}

.energy__num {
  font-weight: 700;
  font-size: 210px;
  margin-bottom: 40px;
}

.energy_text {
  max-width: 405px;
  margin: 0 auto 50px;
}

/* Audio Section */

.audio {
  background-image: url(../images/bg/audio-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.audio::after {
  content: '';
  position: absolute;
  background-image: url(../images/bg/quality-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  bottom: -115px;
  width: 100%;
  height: 130vh;
  left: 0;
  right: 0;
}

.div-audio__inner {
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.audio__box {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-bottom: 30vh;
}

.audio__text {
  width: 300px;
  text-align: center;
  margin-bottom: 15px;
}

.audio__btn {
  color: black;
  background: white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 15px 58px;
  border: 2px solid #222;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  margin-top: 30px;
}

.audio__btn:hover {
  border-color: #333;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}

/* Footer */

.footer {
  padding: 250px 0 40px;
  background-color: #000;
  color: white;

  text-align: center;
  font-weight: 700px;
}

.footer_text {
  padding: 20px 0;
}

.footer__list {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


/* @media (max-width: 1024px) {
  .airpodsmax {
    display: none;
  }
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 15px;
  }

  .main__title {
    font-size: 48px;
  }

  .header__top {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }

  .menu__list {
    flex-direction: column;
    gap: 20px;
  }

  .menu__btn {
    padding: 12px 40px;
    font-size: 14px;
  }

  .header__content-images {
    padding-bottom: 30px;
  }

  .choose-color__list {
    flex-direction: column;
    gap: 20px;
  }

  .choose-color__btn {
    padding: 45px 45px;
  }

  .composition__inner {
    flex-direction: column;
    align-items: center;
  }

  .audio__box {
    padding-bottom: 10vh;
  }

  .footer {
    padding: 150px 0 20px;
  }

  .footer__list {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .main__title {
    font-size: 56px;
  }

  .header__top {
    padding: 30px 0;
  }

  .menu__list {
    gap: 30px;
  }

  .menu__btn {
    padding: 14px 50px;
    font-size: 15px;
  }

  .header__content-images {
    padding-bottom: 40px;
  }

  .choose-color__list {
    flex-wrap: wrap;
  }

  .choose-color__btn {
    padding: 50px 50px;
  }

  .composition__inner {
    gap: 20px;
  }

  .audio__box {
    padding-bottom: 15vh;
  }

  .footer {
    padding: 200px 0 30px;
  }
}
 */
